* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    align-items: center;
    height: 50px;
    padding: 10px 50px;

}

ul {
    list-style-type: none;
    }

a {
    text-decoration: none;
    color: black;
}

.header h1 {
    font-size: 32px;
}

.hero-container {
    display: flex;
    background: pink;
    padding: 10px 50px;
    justify-content: space-between
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;

}

.hero-image {
    
    height: 150px;
    width: 400px;
    
}   

.hero-image img {
    height: 150px;
    width: 400px;
}

.hero-text button {
    border-radius: 8px;
    height: 30px;
    width: 80px;
    
}

.popular-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 1rem 50px;
    background-color: lightpink;
}

.popular {
    padding: 1rem 50px;
    background-color: lightpink;  
}

.popular h2{
 font-size: 32px;
 font-style: italic;
}

img {
 width: 150px;
 height: 150px;

}

.info {
   text-align: center; 
   
}

.info button {
    border-radius: 8px;
    height: 30px;
    width: 80px;
}

.review-container {
    padding: 1rem 50px;
    background-color:#C492B1;
}

.review {
    font-style: italic;
    font-size: 20px;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.lastcall {
    padding: 1rem 50px;
    border: 2px red solid;
    margin: 3rem;
    background: violet;
    color: white;
}


.sub button {

    border-radius: 8px;
    height: 30px;
    width: 80px;
    background: violet;
    color: white;
}

.action {
    
    border: 2px red solid;
}
.action-subtext {
    
    border: 2px red solid;
    
    
}
.sub {
    display: flex;
    justify-content: space-between;
}